* {
    margin: 0;
    padding: 0;
  }

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.top {
    width: 1440px;
    background-color: rgb(225, 255, 143);
}